APP_NAME="NBIS Backend"
APP_ENV=production
APP_KEY=base64:3vP2jYx9+oT3kLmR7qZ4wVnB9sXyA1cE2fG5hJ8kMoI=  # تأكد إن الـ Key هنا هو نفس اللي محطوط في Render
APP_DEBUG=false
APP_URL=https://graduation-project-2026-nbis-backend-2.onrender.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# إعدادات قاعدة البيانات الأونلاين (اكتب هنا بيانات الـ Database اللي رابطها بريندر)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nbis
DB_USERNAME=root
DB_PASSWORD=123456

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# 🛑 إلغاء تفعيل الـ Dev Server للأونلاين (مهم جداً جداً جداً)
VITE_USE_DEV_SERVER=false

VITE_APP_NAME="${APP_NAME}"

# الحساب الأساسي للمدير
ADMIN_EMAIL=admin@nbis.com
ADMIN_NAME="Yousef Hany"
ADMIN_PASSWORD=password123

# ربط الذكاء الاصطناعي للبصمات (FastAPI) الأونلاين لو رفعته
FOOTPRINT_AI_URL=http://127.0.0.1:8001

# إعدادات الأمان والاتصال لـ CORS (تسمح لـ Vercel و Netlify)
SANCTUM_EXPIRATION=120
CORS_ALLOWED_ORIGINS=*
CORS_SUPPORTS_CREDENTIALS=true
